{% extends 'base.html' %}

{% block content %}

<!-- 게시판 시작-->
    <div class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <div class="section-title mb-5">
              <h2>게시판</h2>
              {% if user.is_authenticated %}
                <div ><button id="write" onclick="displayInputForm()" style="float:right;  background-color: white; color:black; opacity:0.8;" type="button" class="btn">Write</button></div>
              {%else%}

              {% endif %}
            </div>
          </div>
        </div>
        <!-- 게시판 시작-->

            <p>총 게시글: {{boardcount}}</p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th style="width:10%;">번호</th>-->
                        <th style="width:30%; text-align:center;">제목</th>
                        <th style="width:10%;">이름</th>
                        <th style="width:10%;">조회수</th>
                        <!--<th style="width:10%;">추천수</th>-->
                        <th style="width:20%;">작성날짜</th>
                        <th style="width:10%;">수정</th>
                    </tr>
                </thead>
                <tbody>
                <!-- 나중에 변수 작성( 게시글 list)-->


                 {% for wdata in vlist %}
                <tr>

                    <!--<td>{{wdata.id}}</td>-->
                    <td onclick="Boardview({{wdata.id}})"> {{wdata.title}} </td>
                    <td>{{wdata.author.last_name}}{{wdata.author.first_name}}</td>
                    <td>{{wdata.count}}</td>
                    <!--<td>#</td>-->
                    <td >{{wdata.writedate |date:"Y-m-d"}}</td>

                    {% if wdata.author.username == request.user.username%}
                        <td onclick="update({{ wdata.id }})">수정</td>
                    {% endif %}
                </tr>

                {% endfor %}
                </tbody>
            </table>



      </div>
       <!-- Pagination 시작-->
      <ul class="pagination justify-content-center">
          {% if vlist.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{vlist.previous_page_number}}">Previous</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link"  tabindex="-1" aria-disabled="true" href="#">Previous</a></li>
          {% endif %}
          {% for page_number in vlist.paginator.page_range %}

            {% if page_number == vlist.number %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{page_number}}"> {{page_number}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page_number}}"> {{page_number}}</a></li>
            {% endif%}

          {% endfor %}

          {% if vlist.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{vlist.next_page_number}}">Next</a></li>
          {% else%}
            <li class="page-item disabled"><a class="page-link"  tabindex="-1" aria-disabled="true" href="#">Next</a></li>
          {% endif %}

      </ul>
      <hr>
      <!-- Pagination 끝-->



      <div class="row justify-content-md-center">
			<div class="col-md-6 col-md-offset-3">


                <div id="ccform"  style="display:none;" >
                    <h2 style="text-align: center">COMMENT</h2>

	                <form method="post" action="{% url 'Boardwrite' %}" class="p-5 bg-light">
                     {% csrf_token %}
                        <div class="form-group">
                            <label>Name *</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="제목" required>
                        </div>
                        <div class="form-group">
                            <label>Content *</label>
		                    <textarea  class="form-control" name="content" cols="30" rows="5" placeholder="의견을 적어주세요."></textarea>
 		                </div>
                        <div class="form-group">
 		                    <button class="btn btn-primary py-3" type="submit" value="Submit">submit</button>
 		                    <button class="btn btn-primary py-3" onclick="NondisplayInputForm()" >close</button>
                        </div>
	                </form>

                </div>

            </div>
      </div>

    </div>
    <!-- 게시판 끝-->
    <script>
        function displayInputForm(){
            $('#ccform').css('display','block')
        }

        function NondisplayInputForm(){
            $('#ccform').css('display','none')
        }

        function Boardview(id){
             location.href="{% url 'Boardview'%}?Boardview="+id;
        }

        function update(id) {
            $.getJSON("{% url 'Boardupdate' %}?id="+id, function(jsonObj) {
                $('#ccform').css('display', 'block')
                const dom1 = $('[name="title"]');
                const dom2 = $('[name="content"]');
                dom1.removeAttr("placeholder");
                dom1.attr("value", jsonObj.title);
                dom2.removeAttr("placeholder");
                dom2.text(jsonObj.content);

                $('#ccform form').attr("action", "{% url 'Boardupdate' %}?id="+id)
            });
        }
    </script>




{% endblock %}