{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">

            <p class="mb-5">
              <img src="/static/images/b3.jpg" alt="Image" class="img-fluid">
            </p>
            <h1 class="mb-4">
              제로웨이스트는 처음인데요
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/HN.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 15</span>
              </div>
            </div>

            <p> <strong>일회용품을 쓰면서 지구 환경을 걱정하는 평범한 사람들을 위한 제로 웨이스트 안내서 </strong></p>

            <p> 제로 웨이스트가 제대로 알려지지 않았던 2016년부터 지금까지 ‘쓰레기 없는 삶’을 꾸준히 실천해 온 ‘소일’의 제로 웨이스트 안내서이다.<br><br>
              이 책에는 제로 웨이스트를 하며 장보기, 외출하기, 여행하기, 사회생활 하기, 취미생활 하기 등 일상생활을 영위해 나가며 실천 할 수 있는 생활 밀착형 제로 웨이스트 방법들이 총망라되어 있다. 많은 쓰레기를 제로로 만드는 제로 웨이스트는 사실상 비현실적이고 이상적인 목표에 가깝기 때문에 100에서 90으로 조금이라도 줄이려는 노력, 그것으로 큰 의미가 있다고 이야기한다. 저자를 롤모델 삼아 삶에서 쓰레기를 하나씩 덜어내려는 노력이 그 시작이 될 것이다. 무엇보다 이 책이 당신의 시작을 도울 것이다.</p>
            <hr>
            <p> 작가 소개<br><br>
            물건을 소유하고 소비하는 과정에서 사람, 사회, 환경에 해를 끼치지 않기를 바라는 마음으로 2016년부터 제로 웨이스트 실천을 시작했다. 미니멀리스트를 한글로 해석한 ‘최소주의자’에 환경 의식을 담은 ‘윤리’를 붙여 ‘윤리적 최소주의자 소일’이라는 이름으로 블로그에 제로 웨이스트를 하는 일상을 기록하는 중이다.</p>




          </div>



          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Montly events</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/event121/" >12월 이벤트 </a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Dec 1</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/event11/" >1월 이벤트 </a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 1</span> 
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/event21/" >2월 이벤트 </a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Feb 1</span>
                </div>
              </div>
            </div>


            <p>
              <a href="/echozapp/Events/" class="more">See All Events<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}