{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">

            <p class="mb-5">
              <img src="/static/images/b5.jpg" alt="Image" class="img-fluid">
            </p>
            <h1 class="mb-4">
              그건 쓰레기가 아니라고요
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/HM.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 16</span>
              </div>
            </div>

              <p>국내 최초의 한국형 분리배출 안내서이다. 이 책은 헷갈리는 품목별 분리배출 방법을 쓰레기가 처리되는 시스템으로 설명하고 그 안에서 개인이 해야 할 적절한 역할을 설명한다. 이와 함께 개인의 실천과 연대를 통해 쓰레기를 줄이는 방법과 물건과 이별하는 우리의 자세를 돌아보며, 익숙한 소비방식을 어떻게 바꾸어 나갈지 제안한다. </p>

              <p>이 책에선 소비자 실천 중 쓰레기를 분리배출 할 때 마주치는 문제와 제대로 배출하는 방법을 살펴본다. 다 쓴 물건을 분리하고 이물질을 제거해서 배출하는 행동은 소비자만이 할 수 있기에 중요하다. 하지만 소비자들만 잘한다고 문제가 해결되진 않는다. 핵심은 기업이다. 기업이 바뀌지 않으면 쓰레기 문제는 해결될 수가 없다. 생산단계에서 포장재를 줄이고 재활용이 잘 되는 물건을 만들어야 하기 때문에 바로 이 지점이 소비자 행동이 필요한 이유이다.</p>

              <p>이 책은 어려운 내용이 포함되어 있지 않다. 지금껏 우리가 생활하고 버리는 쓰레기들을 어떻게 배출해야 할지를 알려주는 책이다. 환경오염 문제는 특정 개인만의 문제가 아니다. 인류를 위협할 수 있다. 나만 편하면 된다는 식의 발상은 결국 자신마저도 살아가기 힘들게 만들 수 있다. 그 전에 우리가 노력한다면 인류 생존의 시계를 조금 더 늦출 수 있지 않을까.</p>



          </div>



          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Montly events</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/event121/" >12월 이벤트 </a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Dec 1</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/event11/" >1월 이벤트 </a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 1</span> 
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/event21/" >2월 이벤트 </a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Feb 1</span>
                </div>
              </div>
            </div>


            <p>
              <a href="/echozapp/Events/" class="more">See All Events<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}