{% extends 'base.html' %}

{% block content %}
    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="/static/images/check_lv2_3.jpg" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              스스로 확인하는 오늘의 체크리스트 Level.2
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/person_1.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                <span class="date-read">Nov 8</span>
              </div>
            </div>

            <p> 플라스틱을 대신해 쓸 수 있는 방법을 찾고 실천해보는 단계이다. 스타벅스를 비롯한 많은 카페에서는 개인 텀블러를 가져가면 일정 금액 할인을 적용해주곤 한다. 환경을 아끼면서 돈까지 아끼는 일석이조의 효과를 거둘 수 있다. </p>


          </div>


         <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Tips by Place</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/tip1/">In Kitchen</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                  <span class="date-read">May 16</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/tip2/">In Bathroom</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 20</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/tip3/">In Travel</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">황창하</a> in <a href="#">echoz</a></span>
                  <span class="date-read">May 25</span>
                </div>
              </div>
            </div>


            <p>
              <a href="/echozapp/How/" class="more">See All Tips<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>


        </div>
        
      </div>
    </div>


{% endblock %}