{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="/static/images/check_lv1_3.jpg" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              스스로 확인하는 오늘의 체크리스트 Level.1
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/HM.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                <span class="date-read">Jan 3</span>
              </div>
            </div>

            <p> 위 그림은 제로웨이스트를 위한 체크리스트 3단계이다.</p>
            <p> 먼저 쓰레기를 줄이고 잘 버리는 것에서부터 시작한다. 사람들이 의외로 잘 모르는 분리수거 지식 중 하나는, 영수증은 반드시 종량제봉투에 담아 배출해야한다는 것이다. 이외에도 오염된 종이, 코팅된 박스 역시 종이류로 배출하면 안되는 품목에 해당한다. 배달앱을 이용할 때 일회용품이 꼭 필요한 경우가 아니라면 ‘일회용품은 괜찮습니다’ 항목에 꼭 체크를 해보도록 하자.</p>


          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Tips by Place</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/tip1/">In Kitchen</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                  <span class="date-read">May 16</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/tip2/">In Bathroom</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 20</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/tip3/">In Travel</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">황창하</a> in <a href="#">echoz</a></span>
                  <span class="date-read">May 25</span>
                </div>
              </div>
            </div>


            <p>
              <a href="/echozapp/How/" class="more">See All Tips<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>


        </div>
        
      </div>
    </div>


{% endblock %}