{% extends 'Boardview.html' %}

{% block mycontent %}

<div class="card-body">
    <form class="form-horizontal">
        <div class="row">
            <div class="form-group col-sm-8">
                <input class="form-control input-sm" id="newReplyText" type="text" placeholder="댓글 입력...">
            </div>
            <div class="form-group col-sm-2">
                <input class="form-control input-sm" id="newReplyWriter" type="text" placeholder="작성자">
            </div>
            <div class="form-group col-sm-2">
                <button type="button" class="btn btn-primary btn-sm btn-block replyAddBtn">
                    <i class="fa fa-save"></i> 저장 </button>
            </div>
        </div>
    </form>
</div>

<div class="card card-primary card-outline">

    <div class="card-header">
        <a href="" class="link-black text-lg">
            <i class="fas fa-comments margin-r-5 replyCount"></i></a>
        <div class="card-tools">
            <button type="button" class="btn primary" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="card-body repliesDiv"> </div>

    <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
            <ul class="pagination pagination-sm no-margin justify-content-center m-0"> </ul>
        </nav>
    </div>
</div>

<script>
    $(document).ready(function () {
    var formObj = $("form[role='form']");
    console.log(formObj);
    $(".modBtn").on("click", function () {
    formObj.attr("action", "${path}/article/paging/search/modify");
    formObj.attr("method", "get"); formObj.submit(); });
    $(".delBtn").on("click", function () {
    formObj.attr("action",
    "${path}/article/paging/search/remove"); formObj.submit(); });
    $(".listBtn").on("click", function () {
    formObj.attr("action", "${path}/article/paging/search/list");
    formObj.attr("method", "get"); formObj.submit(); });
    var article_no = "${article.article_no}";

    var replyPageNum = 1;

    Handlebars.registerHelper("escape", function (reply_text) {
    var text = Handlebars.Utils.escapeExpression(reply_text);
    text = text.replace(/(\r\n|\n|\r)/gm, "<br/>");
    text = text.replace(/( )/gm, "&nbsp;");
    return new Handlebars.SafeString(text); });
    Handlebars.registerHelper("prettifyDate", function (timeValue) {
    var dateObj = new Date(timeValue);
    var year = dateObj.getFullYear();
    var month = dateObj.getMonth() + 1;
    var date = dateObj.getDate();
    var hours = dateObj.getHours();
    var minutes = dateObj.getMinutes();
    month < 10 ? month = '0' + month : month;
    date < 10 ? date = '0' + date : date;
    hours < 10 ? hours = '0' + hours : hours;
    minutes < 10 ? minutes = '0' + minutes : minutes;
    return year + "-" + month + "-" + date ; });
    getReplies("${path}/replies/" + article_no + "/" + replyPageNum);
    function getReplies(repliesUri) { $.getJSON(repliesUri, function (data) {
    printReplyCount(data.pageMaker.totalCount);
    printReplies(data.replies, $(".repliesDiv"),
    $("#replyTemplate"));
    printReplyPaging(data.pageMaker, $(".pagination"));
     });
      }
    function printReplyCount(totalCount) {
    var replyCount = $(".replyCount");
    var collapsedBox = $(".collapsed-box");
    if (totalCount === 0) { replyCount.html(" 댓글이 없습니다. 의견을 남겨주세요");
    collapsedBox.find(".btn-box-tool").remove(); return; }

    replyCount.html(" 댓글목록 (" + totalCount + ")");
    collapsedBox.find(".box-tools").html( "<button type='button' class='btn btn-box-tool' data-widget='collapse'>" + "<i class='fa fa-plus'></i>" + "</button>" ); }
    function printReplies(replyArr, targetArea, templateObj) {
    var replyTemplate = Handlebars.compile(templateObj.html());
    var html = replyTemplate(replyArr); $(".replyDiv").remove(); targetArea.html(html); }
    function printReplyPaging(pageMaker, targetArea) {
    var str = "";
    if (pageMaker.prev) { str += "<li class=\"page-item\">
    <a class=\"page-link\" href='"+(pageMaker.startPage-1)+"'>이전</a></li>"; }
    for (var i = pageMaker.startPage, len = pageMaker.endPage; i <= len; i++) {
    var strCalss = pageMaker.criteria.page == i ? 'class=active' : '';
    str += "<li class=\"page-item\" "+strCalss+"><a class=\"page-link\" href='"+i+"'>"+i+"</a></li>"; }
    if (pageMaker.next) { str += "<li class=\"page-item\"><a class=\"page-link\" href='"+(pageMaker.endPage + 1)+"'>다음</a></li>";
     } targetArea.html(str); }
    $(".pagination").on("click", "li a", function (event) {
    event.preventDefault(); replyPageNum = $(this).attr("href");
    getReplies("${path}/replies/" + article_no + "/" + replyPageNum); });
    $(".replyAddBtn").on("click", function () {
     form 선택자 var reply_writerObj = $("#newReplyWriter");
     var reply_textObj = $("#newReplyText");
     var reply_writer = reply_writerObj.val();
     var reply_text = reply_textObj.val();

     $.ajax({ type : "post", url : "${path}/replies/",
     headers : { "Content-Type" : "application/json", "X-HTTP-Method-Override" : "POST" },
     dataType : "text", data : JSON.stringify({ article_no : article_no, reply_writer : reply_writer, reply_text : reply_text }),
     success: function (result) { console.log("result : " + result); if (result === "regSuccess") { alert("댓글이 등록되었습니다."); replyPageNum = 1;
     getReplies("${path}/replies/" + article_no + "/" + replyPageNum); /
     reply_textObj.val(""); // 댓글 입력창 공백처리 reply_writerObj.val("");
      } } }); });
      $(".repliesDiv").on("click", ".replyDiv", function (event) {
      var reply = $(this); $(".reply_no").val(reply.attr("data-reply_no"));
      $("#reply_text").val(reply.find(".oldReplyText").text()); });
      $(".modalModBtn").on("click", function () { var reply_no = $(".reply_no").val();
      var reply_text = $("#reply_text").val();
      $.ajax({ type : "put", url : "${path}/replies/" + reply_no,
      headers : { "Content-Type" : "application/json", "X-HTTP-Method-Override" : "PUT" },
      dataType : "text", data: JSON.stringify({ reply_text : reply_text }),
      success: function (result) { console.log("result : " + result);
      if (result === "modSuccess") { alert("댓글이 수정되었습니다.");
      getReplies("${path}/replies/" + article_no + "/" + replyPageNum);
      $("#modModal").modal("hide"); // modal 창 닫기 } } }) });
      $(".modalDelBtn").on("click", function () {
      var reply_no = $(".reply_no").val();
      $.ajax({ type: "delete", url: "${path}/replies/" + reply_no,
      headers: { "Content-Type" : "application/json", "X-HTTP-Method-Override" : "DELETE" },
      dataType: "text", success: function (result) { console.log("result : " + result);
      if (result === "delSuccess") { alert("댓글이 삭제되었습니다.");
      getReplies("${path}/replies/" + article_no + "/" + replyPageNum);
      $("#delModal").modal("hide");
       } } }); }); });

</script>




