{% extends 'base.html' %}

{% block content %}
    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="/static/images/e12_1.jpg" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              12월 이벤트
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/HN.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                <span class="date-read">Dec 1</span>
              </div>
            </div>

            <p>카페에서 개인텀블러를 이용하여 테이크아웃 인증샷을 찍어주세요!<br>
              Board에 #나는제로웨이스터 태그를 달아 인증해주시는 분들에게 5만원 상당의 자연분해되는 고급 대나무 칫솔을 보내드립니다. 많은 참여 부탁드립니다=)</p>




          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Popular Posts</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/book1/">"나는 쓰레기 없이 산다"</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">황창하</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 30</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/book2/">"제로웨이스트는 처음인데요"</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 15</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/book3/">"세상에 무해한 사람이 되고 싶어"</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 15</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/book4/" >"그건 쓰레기가 아니라고요"</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 16</span>
                </div>
              </div>
            </div>

            <p>
              <a href="/echozapp/Board/" class="more">See All Post<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>


        </div>
      </div>
    </div>


{% endblock %}