{% extends 'base.html' %}

{% block content %}

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <span class="caption d-block small">step 3</span>
              <h2>How to do Zero Waste</h2>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/6.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/checklist0/">제로웨이스트 실천방법 #5</a></h2>
                <p class="mb-3">나와 지구를 생각하는 라이프 스타일을 꿈꾼다면 꼭 알아야 할 '제로 웨이스트 실천 방법'<br>
                1. 프로듀스 백 & 리유저블 아이템 <br>
                2. '영수증 & 빨대는 괜찮아요!' <br>
                :</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">소지현</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 10</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/check_lv1_2.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/checklist1/">Lv.1 체크리스트</a></h2>
                <p class="mb-3">쓰레기를 줄이고 잘 버리기<br></p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 3</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/check_lv2_1.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                
                <h2><a href="/echozapp/checklist2/">Lv.2 체크리스트</a></h2>
                <p class="mb-3">플라스틱을 대신해 쓸 수 있는 방법 찾고 실천하기<br></p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Nov 8</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/check_lv3_1.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/checklist3/">Lv.3 체크리스트</a></h2>
                <p class="mb-3">일회용 제품을 대체하는 용품들을 사용하여 쓰레기를 줄이는 데 더욱 적극적으로<br></p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Sep 9</span>
                </div>
              </div>
            </div>


            <br> <hr> <br>
            <div class="section-title">
              <span class="caption d-block small">step 4</span>
              <h2>Tips by Place</h2>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/2_3.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/tip1/">1. In Kitchen</a></h2>
                <p class="mb-3">주방에서 제로 웨이스트 실천하기
              <ul>
                <li>Don't 플라스틱 빨대 -> Do 실리콘 빨대, 종이빨대</li>
                <li>Don't 아크릴 수세미 -> Do 천연수세미</li>
                <li>Don't 플라스틱 컵 -> Do 텀블러 </li>
              </ul> </p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">May 16</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/3_3.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                
                <h2><a href="/echozapp/tip2">2. In Bathroom</a></h2>
                <p class="mb-3">욕실에서 제로웨이스트 실천하는 방법
                <ul>
                <li>고체 샴푸</li>
                <li>대나무 칫솔</li>
                <li>고체 치약</li>
              </ul> </p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                <span class="date-read">Jan 20</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/travel_1.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/tip3">3. In Travel</a></h2>
                <p class="mb-3">여행에서 제로웨이스트 실천하는 방법
                <ul>
            <li>메쉬 스트링 에코백</li>
            <li>샤워, 샴푸, 클렌징 바</li>
            <li>자투리인견원단을 활용한 인견타올</li>
            </ul></p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">황창하</a> in <a href="#">echoz</a></span>
                <span class="date-read">May 25</span>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
    </div>

{% endblock %}