<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <title>echoz &mdash; Zero Waste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href= '{% static "fonts/icomoon/style.css" %}'>

  <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "css/jquery-ui.css" %}'>
  <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
  <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>
  <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>

  <link rel="stylesheet" href='{% static "css/jquery.fancybox.min.css" %}'>

  <link rel="stylesheet" href='{% static "css/bootstrap-datepicker.css" %}'>

  <link rel="stylesheet" href='{% static "fonts/flaticon/font/flaticon.css" %}'>

  <link rel="stylesheet" href='{% static "css/aos.css" %}'>
  <link href='{% static "css/jquery.mb.YTPlayer.min.css"%}' media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href='{% static "css/style.css" %}'>



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="/echozapp/index/" class="site-logo">
              Zero Waste
            </a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block">
              <a href="#" class="d-inline-block p-3"><span class="icon-facebook"></span></a>
                <a href="#" class="d-inline-block p-3"><span class="icon-twitter"></span></a>
                <a href="#" class="d-inline-block p-3"><span class="icon-instagram"></span></a>
            </div>
            <form action="#" class="search-form d-inline-block">

              <div class="d-flex">
                <input type="email" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-secondary" ><span class="icon-search"></span></button>
              </div>
            </form>

            
          </div>
          <div class="col-6 d-block d-lg-none text-right">
            
          </div>
        </div>
      </div>
      


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                  <a href="/echozapp/index/" class="nav-link text-left">Home</a>
                </li>
                <li>
                  <a href='{% static "What.html" %}' class="nav-link text-left">What?</a>
                </li>
                <li>
                  <a href='{% static "How.html" %}'  class="nav-link text-left">How?</a>
                </li>
                <li>
                  <a href='{% static "Where.html" %}'  class="nav-link text-left">Where?</a>
                </li>
                <li>
                    <a href='{% static "Events.html" %}'  class="nav-link text-left">Events</a>
                </li>
                <li><a href='{% static "Board.html" %}'  class="nav-link text-left">Board</a></li>

                <li><a href='{% static "contact.html" %}' class="nav-link text-left">Contact</a></li>
              </ul>                                                                                                                                                                                                                                                                                         
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>

    <div class="site-section py-0">
      <div class="owl-carousel hero-slide owl-style">

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/1.png' %}')"></div>
              <div class="contents">
                <span class="caption">What is Zero Waste?</span>
                <h2><a href='{% static "blog-single.html" %}' >쓰레기가 나오지 않는 삶</a></h2>
                <p class="mb-3"><br>모든 제품, 포장 및 자재를 태우지 않고, 환경이나 인간의 건강을 위협할 수 있는 토지, 해양, 공기로 배출하지 않으며 책임 있는 생산, 소비, 재사용 및 회수를 통해 모든 자원을 보존하는 것.<br><br>목표: 제품의 흐름을 크게 바꾸어 낭비가 없는 사회<br></p>
                
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/11.png' %}')"></div>
              <div class="contents">
                <span class="caption">How to practice Zero Waste?</span>
                <h2><a href='{% static "blog-single.html" %}'>제로 웨이스트 5가지 가이드라인</a></h2>
                <p class="mb-3"><ul>
                <li> Refuse: 필요하지 않는 것은 소비하지 않을 것 </li>
                <li> Reduce: 어쩔 수 없이 소비해야 한다면 최대한 사용량을 줄일 것</li>
                <li> Reduce: 어쩔 수 없이 소비해야 한다면 최대한 사용량을 줄일 것</li>
                <li> Reuse: 모든 자원은 가능한 한 재사용할 것</li>
                <li> Recycle: 더 이상 사용할 수 없는 자원은 재활용할 것</li> </ul></p>
                
                <div class="post-meta">
                  <span class="d-block"><a href="#">Bea Johnson</a> in <a href="#">Blog</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h2><a href='{% static "How.html" %}' >How to do Zero Waste</a></h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="post-entry-1">
                  <a href='{% static "checklist0.html" %}'><img src='{% static "images/6.jpg" %}' alt="Image" class="img-fluid"></a>
                  <h2><a href='{% static  "checklist0.html" %}'>우리 함께 시작해 볼까요?</a></h2>
                  <p>코 앞으로 닥친 쓰레기 대란으로 환경에 대한 관심이 그 어느 때보다 뜨겁죠? 나와 지구를 생각하는 라이프 스타일을 꿈꾼다면 꼭 알아야 할 '제로 웨이스트'에 관한 이야기!</p>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">소지현</a> in <a href="#">News</a></span>
                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url('{% static 'images/check_lv1_2.jpg' %}')"></div>
                  <div class="contents">
                    <h2><a href='{% static "checklist1.html" %}'>Lv.1 오늘의 체크리스트</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                      <span class="date-read">Feb 4 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/check_lv2_1.jpg' %}')"></div>
                  <div class="contents">
                    <h2><a href='{% static "checklist2.html" %}'>Lv.2 오늘의 체크리스트</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                      <span class="date-read">Feb 5 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/check_lv3_1.jpg' %}' )"></div>
                  <div class="contents">
                    <h2><a href='{% static "checklist3.html" %}'>Lv.3 오늘의 체크리스트 </a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                      <span class="date-read">Feb 8 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-title">
              <h2><a href='{% static "What.html" %}'>Recent News</a></h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href='{% static  "news1.html" %}'>친환경을 넘은 필(必)환경시대! ‘제로웨이스트’ 열풍</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김지윤</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href='{% static "news2.html" %}'>"환경오염 문제 관심 가져야죠" '친환경 소비'로 눈 돌린 20·30</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김가연</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href='{% static "news3.html" %}'>쓰레기 넘치는 코로나 시대, '제로웨이스트'가 뜬다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">곽지혜</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href='{% static "news4.html" %}'>유통가에 제로 웨이스트 바람 분다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">신유미</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            
            <p>
              <a href='{% static "What.html" %}' class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- END section -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <h2><a href='{% static "How.html" %}'>How?</a></h2>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/2_2.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='{% static "blog-single.html" %}'>1. In Kitchen</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_2.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='{% static "blog-single.html" %}'>2. In Bathroom</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/img_v_3.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='{% static "blog-single.html" %}'>News Needs to Meet Its Audiences Where They Are</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-title">
              <h2><a href='{% static "Where.html" %}'>Shops</a></h2>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/thepicker1.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='{% static "shop1.html" %}' >The Picker 한국 최초의 제로 웨이스트 마켓</a></h2>
                <p class="mb-3">건강한 소비가 만드는 건강한 지구</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">서울숲</a> in <a href="#">Seoul</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/earth2.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='{% static "shop2.html" %}'>지구</a></h2>
                <p class="mb-3">많은 사람이 일상처럼 친환경 삶을 접하길 바라는 마음</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">동작구</a> in <a href="#">Seoul</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/bottle2.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='{% static "shop3.html" %}'>Bottle Factory</a></h2>
                <p class="mb-3">일회용이 하나도 없는 카페</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">연희동</a> in <a href="#">Seoul</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="section-title">
              <h2><a href='{% static "Board.html" %}'>My ways</a></h2>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('{% static 'images/b1.jpg' %}')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href='{% static "blog-single.html" %}'>"나는 쓰레기 없이 산다"</a></h2>
                <p class="mb-3">생활은 가벼워지고 삶은 건강해지는 쓰레기 제로 라이프</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Bea Johnson</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('{% static 'images/img_h_3.jpg' %}')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href='{% static "blog-single.html" %}'>News Needs to Meet Its Audiences Where They Are</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style= "background-image: url('{% static 'images/img_h_3.jpg' %}' )"></div>
              <div class="contents order-md-1 pl-0">
                <span class="caption mb-4 d-block">Editor's Pick</span>
                <h2><a href='{% static "blog-single.html" %}' >News Needs to Meet Its Audiences Where They Are</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="section-title">
              <h2><a href='{% static "Events.html" %}'>Events</a></h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href='{% static "blog-single.html" %}'> 2020년 12월 이벤트 당첨</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href='{% static "blog-single.html" %}'>2021년 1월 이벤트 당첨</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href='{% static "blog-single.html" %}'>2021년 2월 이벤트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            
            <p>
              <a href="#" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">

          </div>
        </div>
      </div>
    </div>

    <div class="site-section subscribe bg-light">
      <div class="container">
        <form action="#" class="row align-items-center">
          <div class="col-md-5 mr-auto">
            <h2>Newsletter Subcribe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!</p>
          </div>
          <div class="col-md-6 ml-auto">
            <div class="d-flex">
              <input type="email" class="form-control" placeholder="Enter your email">
              <button type="submit" class="btn btn-secondary" ><span class="icon-paper-plane"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>


    
    <div class="footer">
      <div class="container">
        

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

  <script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
  <script src='{% static "js/jquery-migrate-3.0.1.min.js" %}'></script>
  <script src='{% static "js/jquery-ui.js" %}'></script>
  <script src='{% static "js/popper.min.js" %}'></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/owl.carousel.min.js" %}'></script>
  <script src='{% static "js/jquery.stellar.min.js" %}'></script>
  <script src='{% static "js/jquery.countdown.min.js" %}'></script>
  <script src='{% static "js/bootstrap-datepicker.min.js" %}'></script>
  <script src='{% static "js/jquery.easing.1.3.js" %}'></script>
  <script src='{% static "js/aos.js" %}'></script>
  <script src='{% static "js/jquery.fancybox.min.js" %}'></script>
  <script src='{% static "js/jquery.sticky.js" %}'></script>
  <script src='{% static "js/jquery.mb.YTPlayer.min.js" %}'></script>




  <script src='{% static "js/main.js" %}'></script>

</body>

</html>