{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="site-section py-0">
      <div class="owl-carousel hero-slide owl-style">

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/1.png' %}')"></div>
              <div class="contents">
                <span class="caption">What is Zero Waste?</span>
                <h2><a href="/echozapp/What/" >쓰레기가 나오지 않는 삶</a></h2>
                <p class="mb-3"><br>모든 제품, 포장 및 자재를 태우지 않고, 환경이나 인간의 건강을 위협할 수 있는 토지, 해양, 공기로 배출하지 않으며 책임 있는 생산, 소비, 재사용 및 회수를 통해 모든 자원을 보존하는 것.<br><br>목표: 제품의 흐름을 크게 바꾸어 낭비가 없는 사회<br></p>
                
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                  <span class="date-read">Jun 14</span>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{% static 'images/beginner.jpg' %}')"></div>
              <div class="contents">
                <span class="caption">How to do Zero Waste?</span>
                <h2><a href="/echozapp/How/">제로 웨이스트 5가지 가이드라인</a></h2>
                <p class="mb-3"><ul>
                <li> Refuse: 필요하지 않는 것은 소비하지 않을 것 </li>
                <li> Reduce: 어쩔 수 없이 소비해야 한다면 최대한 사용량을 줄일 것</li>
                <li> Reduce: 어쩔 수 없이 소비해야 한다면 최대한 사용량을 줄일 것</li>
                <li> Reuse: 모든 자원은 가능한 한 재사용할 것</li>
                <li> Recycle: 더 이상 사용할 수 없는 자원은 재활용할 것</li> </ul></p>
                
                <div class="post-meta">
                  <span class="d-block"><a href="#">Bea Johnson</a> in <a href="#">Blog</a></span>
                  <span class="date-read">Jun 14</span>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h2><a href='/echozapp/What/' >About Zero Waste</a></h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="post-entry-1">
                  <a href='/echozapp/video1/'><img src='{% static "images/v1.jpg" %}' alt="Image" class="img-fluid"></a>
                  <h2><a href='/echozapp/video1/'>'식벤져스' 제로 웨이스트 레스토랑 오픈</a></h2>
                  <p>최상의 상태임에도 당일 소진되지 못해 처분 위기에 놓인 식자재부터 파 뿌리처럼 버려지기 쉬운 식자재까지 남김없이 활용해 새로운 메뉴로 탈바꿈시킨다!</p>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">식벤져스</a> in <a href="#">Olive</a></span>
                    <span class="date-read">Jun 20</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/v2_1.jpg' %}')"></div>
                  <div class="contents">
                    <h2><a href='/echozapp/video2/'>지구를 지켜츄</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Chuu Can Do It</a> in <a href="#">Youtube</a></span>
                      <span class="date-read">Jan 7</span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/v3_1.jpg' %}')"></div>
                  <div class="contents">
                    <h2><a href='/echozapp/video3/'>윤스테이만의 친환경 어메니티</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">윤스테이</a> in <a href="#">tvn</a></span>
                      <span class="date-read">Jan 11</span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/v4_1.jpg' %}' )">></div>
                  <div class="contents">
                    <h2><a href='/echozapp/video4/'>지속가능한 것을 행복한 만큼 실천하세요</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">박진희</a> in <a href="#">세바시</a></span>
                      <span class="date-read">May 27</span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url('{% static 'images/v5.jpg' %}')"></div>
                  <div class="contents">
                    <h2><a href='/echozapp/video5/'>톱 모델 이현이가 에코 라이프에 도전한 이유</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">커버스토리</a> in <a href="#">tvn</a></span>
                      <span class="date-read">Jun 13</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-title">
              <h2><a href='/echozapp/What/'>Recent News</a></h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/news1/'>친환경을 넘은 필(必)환경시대! ‘제로웨이스트’ 열풍</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김지윤</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/news2/'>"환경오염 문제 관심 가져야죠" '친환경 소비'로 눈 돌린 20·30</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김가연</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 5</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/news3/'>쓰레기 넘치는 코로나 시대, '제로웨이스트'가 뜬다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">곽지혜</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/news4/'>유통가에 제로 웨이스트 바람 분다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">신유미</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 30</span>
                </div>
              </div>
            </div>
            
            <p>
              <a href='/echozapp/What/' class="more">See All News<span class="icon-keyboard_arrow_right"></span></a>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- END section -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <h2><a href='/echozapp/How/'>How?</a></h2>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/2_3.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='/echozapp/tip1/'>1. In Kitchen</a></h2>
                <p class="mb-3">주방에서 제로 웨이스트 실천하기
              <ul>
                <li>Do 실리콘 빨대, 종이빨대</li>
                <li>Do 천연수세미</li>
              </ul> </p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">May 16</span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/3_3.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='/echozapp/tip2/'>2. In Bathroom</a></h2>
                <p class="mb-3">욕실에서 제로웨이스트 실천하는 방법
                <ul>
                <li>고체 샴푸/치약</li>
                <li>대나무 칫솔</li>
              </ul> </p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                <span class="date-read">Jan 20</span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/travel_1.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='/echozapp/tip3/'>3. In Travel</a></h2>
                <p class="mb-3">여행에서 제로웨이스트 실천하는 방법
                <ul>
            <li>메쉬 스트링 에코백, 인견타올</li>
            <li>샤워, 샴푸, 클렌징 바</li>
            </ul></p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">황창하</a> in <a href="#">echoz</a></span>
                <span class="date-read">May 25</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-title">
              <h2><a href='/echozapp/Where/'>Stores</a></h2>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/thepicker1.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='/echozapp/shop1/' >한국 최초의 제로 웨이스트 마켓 The Picker</a></h2>
                <p class="mb-3">건강한 소비가 만드는 건강한 지구</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">서울숲</a> in <a href="#">Seoul</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/earth2.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='/echozapp/shop2/'>지구</a></h2>
                <p class="mb-3">많은 사람이 일상처럼 친환경 삶을 접하길 바라는 마음</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">동작구</a> in <a href="#">Seoul</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail" style="background-image: url('{% static 'images/bottle2.jpg' %}')"></div>
              <div class="contents">
                <h2><a href='/echozapp/shop3/'>Bottle Factory</a></h2>
                <p class="mb-3">일회용이 하나도 없는 카페</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">연희동</a> in <a href="#">Seoul</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>
            <p>
              <a href='/echozapp/Where/' class="more">See All Stores<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="section-title">
              <h2><a href='/echozapp/Board/'>My ways</a></h2>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('{% static 'images/b1.jpg' %}')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href='/echozapp/book1/'>"나는 쓰레기 없이 산다"</a></h2>
                <p class="mb-3">생활은 가벼워지고 삶은 건강해지는 쓰레기 제로 라이프</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">황창하</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 30</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('{% static 'images/b3_1.jpg' %}')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href='/echozapp/book2/'>"제로웨이스트는 처음인데요"</a></h2>
                <p class="mb-3">일회용품을 쓰면서 지구 환경을 걱정하는 평범한 사람들을 위한 제로 웨이스트 안내서</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 15</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style= "background-image: url('{% static 'images/b4_1.jpg' %}' )"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href='/echozapp/book3/'>"세상에 무해한 사람이 되고 싶어"</a></h2>
                <p class="mb-3">좋은 일도 즐겁게 해야 오래할 수 있다. ‘할 수 있는 만큼, 즐겁게.’</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 15</span>
                </div>
              </div>
            </div>

            <p>
              <a href="/echozapp/Board/" class="more">See All Post<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>

          <div class="col-lg-3">
            <div class="section-title">
              <h2><a href='/echozapp/Events/'>Events</a></h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/event1231/'> 2020년 12월 이벤트 당첨</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Dec 31</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/event131/'>2021년 1월 이벤트 당첨</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 31</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/event21/'>2021년 2월 이벤트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Feb 1</span>
                </div>
              </div>
            </div>

            
            <p>
              <a href="/echozapp/Events/" class="more">See All Events<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">

          </div>
        </div>
      </div>
    </div>

{% endblock %}