{% extends 'base.html' %}

{% block content %}



    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">

            <p class="mb-5">
              <img src="/static/images/n5.jpg" alt="Image" class="img-fluid">
            </p>
            <h1 class="mb-4">
              쓰레기 넘치는 코로나 시대, '제로웨이스트'가 뜬다
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/person_1.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">곽지혜</a> in <a href="#">news</a></span>
                <span class="date-read">Feb 4</span>
              </div>
            </div>

            <p> ▶ 희망 한 계단 오르기: 송정마을카페이공 <br>
              <ul>
            <li>광주 첫 제로웨이스트숍 ‘눈길’</li>
            <li>쓰레기 없는 소비 방법 모색”</li>
            <li>‘우리동네 회수센터’서 재활용</li>
            <li>“지구를 살리는 한걸음 위해”</li>
              </ul></p>
            <hr>
            <p> "돈을 남기면 하수, 업적을 남기면 중수, 사람을 남기면 고수, 플라스틱을 남기면 웬수"<br>
                기후변화와 환경오염에 대한 인식이 높아짐에 따라 친환경 제품을 판매하는 한 업체에서 내놓은 재치 있는 광고 문구다. 코로나19의 영향으로 플라스틱 쓰레기는 그야말로 우리 사회의 '웬수'로 떠올랐다.
                적어도 '웬수'는 되지 않아야 한다는 자성이 일었을까. 자원순환과 쓰레기 없는 소비 문화를 조성하기 위해 작은 걸음을 내딛는 사람들이 속속 등장하고 있다.
                광주 광산구 송정동에 위치한 '송정마을카페이공'은 광주 첫 제로웨이스트숍을 운영하고 있다.<br>
                말 그대로 쓰레기와 낭비를 없앤다는 의미로 이곳에서는 포장지나 용기를 제외한 알맹이, 일회용품 대신 다회용품, 썩지 않는 플라스틱이나 비닐 대신 천연재료를 활용한 물건들을 판매한다. </p>
            <p> 송정마을카페이공의 이세형(41·여) 이사는 "카페이공에서는 지난 2017년부터 청년들을 위한 문화·예술 지원 활동 공간으로 활용돼 왔는데, 기후 위기가 심각한 상황에서 이제는 우리 삶을 변화시킬 수 있는 대안적인 공간으로의 변화를 모색해야겠다고 생각했다"고 설명했다.
                실제로 이곳에는 고체 치약과 샴푸, 린스 등을 비롯해 플라스틱 용기로 되어 있는 물건은 없다. 빨대도 일회용 제품이 아닌 스테인리스나 유리, 실리콘 소재로 대체됐고 칫솔도 흔한 플라스틱 칫솔이 아닌 대나무로 된 칫솔이 마련돼 있다.<br>
                카페이공에 제로웨이스트숍을 팝업 스토어 형태로 운영하고 컨설팅을 도운 김지현(35·여) 유어스텝 대표는 "제로웨이스트숍은 쓰레기를 최소화할 수 있는 물건을 팔고 또 친환경적인 소비 문화를 조성하고자하는 데 의미가 있다"며 "지난해 한 달 반이라는 짧은 시간에도 2000여명이 이곳을 찾아주셨고, 직접 물건을 구매한 분은 400여분에 달하는 등 많은 분들이 쓰레기를 없애는데 관심을 갖고 있다는 걸 느끼게 됐다"고 말했다. </p>
            <p> 이곳에서 또 하나 눈길을 더 끄는 것은 매장 한 켠에 마련된 유리병과 신발끈, 소형 실리콘 제품 등을 분리배출하는 자원회수 공간이다.
                "우유를 마시고 남는 '종이팩'과 일반 종이는 다르다는 것 알고 계신가요?"<br>
                카페이공의 자원회수센터가 재오픈 하기만을 기다렸다는 윤민주(22·여·남구 진월동) 씨는 그동안 모은 우유팩을 들고 카페이공을 가장 먼저 찾은 손님이다.
                윤씨는 "코로나 이후에 지구가 점점 힘들어지고 있구나하는 경각심이 느껴졌다"며 "대단한 것은 못해도 제 일상부터 조금씩 바꿔나가려고 플라스틱 병에 든 음료수도 줄이고 이렇게 종이팩과 같이 재활용 할 수 있는 물건들은 모아서 배출하려고 노력 중이다"고 전했다.
                카페 내·외부에 마련된 자원회수 공간인 '우리동네 회수센터'에서는 우유팩 등 종이팩과 작은 PP플라스틱, 유리병, 신발끈, 실리콘 제품을 모아 재활용할 수 있는 공간들로 보내고 있다.<br>
                송정마을카페이공 이 이사는 "라떼 음료 때문에 카페에서 정말 많이 나오는 우유팩의 경우 씻어서 종이팩으로 따로 배출해야하지만, 대부분 잘 모르시고 종이류로 배출한다"며 "실제로 광주 각 주민센터에서는 종이팩 1㎏당 화장지 1롤로 교환해주는 정책도 시행하고 있지만, 이용하는 분들이 정말 적다"고 설명했다. </p>
            <p> 자원순환 공간을 비롯해 이밖에도 외부에는 용기를 직접 가져오면 친환경 주방세제를 소분해 나눠갈 수 있는 공간도 있다. 대부분 제로웨이스트숍에서 샴푸나 주방세제 등 액체 제품을 직접 가져온 용기에 필요한 만큼만 담아 구매할 수 있도록 마련하고 있는 만큼 카페이공도 소분 판매 제품들을 준비 중이다.
                이 이사는 "솔직히 환경을 위해 제로웨이스트 물건을 사용하고, 일회용품을 사용하지 않는 것이 편리하고 간편하지는 않다. 하지만 조금 불편해도 우리가 살고 있는 지구와 환경을 변화시킬 수 있는 가장 쉬운 방법인 것은 분명하다"며 "많은 분들이 관심을 갖고 함께 노력해주시는 만큼 앞으로 지구를 위한 다양한 방법을 구상해 나갈 생각"이라고 밝혔다. </p>






          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Recent News</h2>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news4/">유통가에 제로 웨이스트 바람 분다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">신유미</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 30</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news5/" >고체치약, 대나무 칫솔…‘제로웨이스트’에 빠진 MZ세대</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">윤정훈</a> in <a href="#">News</a></span>
                  <span class="date-read">Nov 25</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news6/">껍데기 없이 알맹이만 팔아요...'제로 웨이스트' 숍 알맹상점</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">유지연</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 23</span>
                </div>
              </div>
            </div>

           <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news7/">제로 웨이스트·로컬 푸드…'착한 소비'를 찾는 사람들</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김주엽</a> in <a href="#">News</a></span>
                  <span class="date-read">May 3</span>
                </div>
              </div>
            </div>

            <p>
              <a href="/echozapp/What/" class="more">See All News<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}