{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="/static/images/n3.jpg" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              "환경오염 문제 관심 가져야죠" '친환경 소비'로 눈 돌린 20·30
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/person_1.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">김가연</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 5</span>
              </div>
            </div>

            <p> - 환경문제 관심↑…지속가능한 소비부터 제로웨이스트 운동까지<br>
                - 10명 중 8명 "지속가능한 생활용품 구매할 의향 있다"<br>
                - 전문가 "SNS 이용 영향…의견교류 활발"</p>
            <p> 직장인 유 모(28) 씨는 최근 재활용 소재로 제작된 가방을 구입했다. 최근 환경문제를 다룬 책을 읽고 '작은 변화라도 실천해야겠다'는 생각을 했기 때문이다. 유 씨는 "안 그래도 가방이 필요해서 어떤 걸 구입할지 고민이었는데, 제 생활에서 작은 것이라도 바꾸고 싶어 재활용 소재 가방을 사게 됐다"고 밝혔다. 이어 "친구들에게도 보여줬더니 '다음에 이런 걸 찾아봐야겠다'고 하더라"라며 "이것 하나로 큰 변화가 일어나지는 않겠지만 주변 사람들에게는 조금이라도 영향을 미칠 수 있지 않겠나"라고 덧붙였다.</p>
            <p> 환경오염과 기후변화가 심각한 사회적 문제로 떠오른 가운데, 지속가능한 소비·친환경 소비를 추구하는 20·30 밀레니얼 세대(1980년대 초부터 2000년대 초 출생자)가 늘고 있다. 환경문제에 대한 관심이 커지면서 비닐이나 플라스틱 등 일회용품 사용을 줄이는 것에서 더 나아가 재활용, 친환경 제품 등 지속가능한 제품을 소비하는 것이다.</p>
            <p> 트위터, 인스타그램 등 SNS에서는 '제로웨이스트'(zero-waste) 운동도 활발하다. 제로웨이스트 운동은 일상 속 쓰레기 배출을 줄이고 친환경 삶을 실천하겠다는 목적을 담고 있다.</p>
            <p> 이는 밀레니얼 세대 소비 경향 중 하나인 '미닝아웃'(Meaning Out)이라고 볼 수 있다. '신념'과 '커밍아웃'의 조어인 미닝아웃은 소비를 통해 자신의 정치적·사회적 신념을 드러내는 행위로, 김난도 서울대 교수는 자신의 저서 '트렌드 코리아 2018'에서 이를 올해의 트렌드로 선정한 바 있다.</p>
            <p> 한 설문 조사에 따르면 국민 대부분이 환경문제에 대한 심각성을 인지하고 있는 것으로 나타났다. <br> 자원순환사회연대와 한국피앤지가 만 15세에서 59세 사이 국민 4000명을 상대로 '국내 소비자들의 지속가능성에 대한 인식과 실천 행태'를 조사한 결과, 소비자 95.5%가 "환경오염과 쓰레기 문제가 심각한 수준"이라고 응답한 것으로 파악됐다. 이 가운데 응답자 82.2%는 "환경적으로 지속가능한 생활용품을 구매할 의향이 있다"고 답했으며, 73.3%가 "제품을 구입하거나 집안일을 할 때 편의성을 포기하더라도 환경에 도움이 되는 방식을 선택해야 한다"고 답한 것으로 나타났다.</p>
            <p> 소비자들은 "최대한 지속가능한 소비를 할 필요가 있다"고 입을 모았다. 대학생 최 모(23) 씨는 "한 끼만 먹어도 쓰레기가 산처럼 나오는 시대 아닌가. 워낙 일상생활 곳곳에 일회용품 사용이 자연스럽게 자리 잡다 보니 어쩔 수 없다고 생각한다"면서도 "모든 것에 대해서는 아니더라도 최소한 실천할 수 있는 부분에 대해서는 적극적으로 행동해야 한다고 본다"고 밝혔다.<br>최 씨는 "배달음식을 시킬 때 일회용 수저를 받지 않는다던가, 일회용 컵 대신 텀블러나 재사용 빨대를 이용하는 방법도 있다. 생분해 비닐이나 재활용 소재로 된 물건을 살 수도 있다"면서 "이런 생각으로 친환경 소재를 이용하려고 노력하는 편이다. 더 나아가 제로웨이스트 운동도 실천해보고 싶다"고 덧붙였다.</p>
            <p> 전문가는 소비자들이 SNS를 통해 자신의 정체성을 드러내고, 타인과 교류하게 되면서 이같은 현상이 확산했다고 분석했다. 이은희 인하대 소비자학과 교수는 "소비를 통해 자신의 신념을 나타내기도 하고, '개념 소비'라는 용어도 쓴다" 며 "사회적으로 바람직한 가치관을 갖고 이를 드러내는 것은 옛날에도 있었지만, 최근에는 SNS 이용이 활발해지면서 이런 소비행위를 자신을 표현하는 수단으로 활용하게 됐다"고 설명했다.<br> 이 교수는 "SNS를 통해 비슷한 의견을 가진 사람들끼리 교류도 활발해지다 보니 확산도 빠르게 된다"며 "자신의 정체성과 가치관을 표현하는 방식으로 이같은 소비 운동이 활용되는 것 같다"고 덧붙였다.</p>

          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Recent News</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news3/">쓰레기 넘치는 코로나 시대, '제로웨이스트'가 뜬다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">곽지혜</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news4/">유통가에 제로 웨이스트 바람 분다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">신유미</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 30</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news5/" >고체치약, 대나무 칫솔…‘제로웨이스트’에 빠진 MZ세대</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">윤정훈</a> in <a href="#">News</a></span>
                  <span class="date-read">Nov 25</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news6/">껍데기 없이 알맹이만 팔아요...'제로 웨이스트' 숍 알맹상점</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">유지연</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 23</span>
                </div>
              </div>
            </div>
            
            <p>
              <a href="/echozapp/What/" class="more">See All News<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}