{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">

            <p class="mb-5">
              <img src="/static/images/n55.jpg" alt="Image" class="img-fluid">
            </p>
            <h1 class="mb-4">
              고체치약, 대나무 칫솔…‘제로웨이스트’에 빠진 MZ세대
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/person_1.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">윤정훈</a> in <a href="#">news</a></span>
                <span class="date-read">Nov 25</span>
              </div>
            </div>

            <p>- 쓰레기 배출량 ‘0’에 가깝게…‘제로웨이스트 챌린지’ 확산<br>
              - 관련 네이버 카페 회원수 1만명 넘어, 인스타그램 태그는 12만회 넘어<br>
              - 제로웨이스트 매장, 1년 만에 전국 20개서 40개로 늘어<br>
              - “코로나 이후로 환경 보호에 대한 관심 더욱 커져” </p>
            <p> 31일 업계에 따르면 제로웨이스트를 실천하는 네이버 카페의 회원수는 2년 만에 1만 1500명을 돌파했다. 소셜네트워크서비스(SNS) 인스타그램에는 제로웨이스트 태그를 단 게시물이 12만 개에 달한다.<br>
              최근 코로나19로 배달이 급증하면서 MZ세대(밀레니얼+Z세대)를 중심으로 제로웨이스트 운동 참여자가 늘어난 것이다. 이들은 작은 실천으로 큰 변화를 만들 수 있다는 믿음으로 제로웨이스트에 참여하고 있다.</p>
            <p> 서울을 중심으로 전국적으로 제로웨이스트 관련한 물품 등을 판매하는 매장도 늘고 있다. 전국에 20여 개 남짓이던 제로웨이스트 숍은 작년 말 기준 약 40개로 증가했다. 제로웨이스트를 스스로 공부하고, 좋은 취지를 전파하기 위해 만들어지는 경우가 대부분이다. 제로웨이스트 숍 ‘송포어스’, ‘공기’, ‘유민얼랏’ 등도 이런 취지로 작년 서울에 문을 열었다. </p>
            <p> 유민얼랏을 운영하는 강유민 대표는 “제로웨이스트는 개인이 할 수 있는 일 가운데 환경을 보호하는 효과적인 실천 방안이라고 생각한다”며 “코로나 이후로 인식의 변화가 많이 일어나서 환경에 대한 관심이 커진 것을 많이 느끼고 있다”고 설명했다.<br>
공기 관계자는 “최근에는 제로웨이스트 숍을 열기 위해 멀리서 찾아오는 분들이 많다”며 “제로웨이스트 상품 구매와 실천 방법을 묻는 SNS 글도 매일 받는다”고 했다. </p>
            <p> 제로웨이스트 숍은 생활에 필요한 모든 제품을 재활용할 수 있도록 디자인한다. 플락스틱 용기 대신에 고체 비누 등 생활용품을 만든다. 세제와 비누는 개인이 필요로하는 만큼만 소분해 살 수도 있다. 먹고 싶은 음식은 직접 용기를 들고 가서 포장해온다. 코로나19에 필수품이 된 마스크도 안 입는 옷 등을 재료로 직접 만든다. </p>
            <p> 시장은 점차 커지고 있지만 물품을 구하고 정보를 찾는 일은 여전히 어렵다. 제로웨이스트 숍 대부분은 불필요한 쓰레기가 생기는 것을 막기 위해 택배를 금하고 있다. 또 서울을 제외한 지방에는 아직 제로웨이스트 숍이 많지 않다. 그럼에도 MZ세대는 환경을 지킨다는 가치를 실천하기 위해 자신의 시간과 비용을 아낌없이 지불하는 것이다. </p>
            <p> 유민얼랏 관계자는 “요즘은 스타벅스에 가서 케이크를 유리병에 담아달라고 하면 점원이 자연스럽게 해준다. 이 같은 인식 개선을 보면 뿌듯함을 느낀다”며 “올해는 다양한 콘텐츠를 만들어서 제로웨이스트를 더 잘 알리는데 집중할 것”이라고 말했다. </p>




          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Recent News</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news6/">껍데기 없이 알맹이만 팔아요...'제로 웨이스트' 숍 알맹상점</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">유지연</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 23</span>
                </div>
              </div>
            </div>

           <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news7/">제로 웨이스트·로컬 푸드…'착한 소비'를 찾는 사람들</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김주엽</a> in <a href="#">News</a></span>
                  <span class="date-read">May 3</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news8/">“일회용품 없는 일상·마을 실현 거점으로”</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">강경남</a> in <a href="#">News</a></span>
                  <span class="date-read">Apr 21</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news1/" >친환경을 넘은 필(必)환경시대! ‘제로웨이스트’ 열풍</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김지윤</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>

            <p>
              <a href="/echozapp/What/" class="more">See All News<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}