{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">

            <p class="mb-5">
              <img src="/static/images/2_3.jpg" alt="Image" class="img-fluid">
            </p>
            <h1 class="mb-4">
              주방에서 제로 웨이스트 실천하기
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/JH.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 4</span>
              </div>
            </div>

            <p> <노하우><br>
             처음엔 텀블러로 시작하기. 이후 젓가락 들고다니기 빨대 등으로 품목을 늘려나간다. <br>
             일단 집에서 줄여나갈 수 있는 것부터 줄여나가는 습관이 중요하다. 예를 들면 일회용 비닐 대신 밀폐 용기 사용하기, 휴지대신 비대 사용하기 등 생활속 작은 습관들을 시작으로 제로 웨이스트를 실천할 수 있다.</p>
            <p>
              <ul>
                <li>Don't 플라스틱 빨대 -> Do 실리콘 빨대, 종이빨대</li>
                <li>Don't 아크릴 수세미 -> Do 천연수세미</li>
                <li>Don't 플라스틱 컵 -> Do 텀블러 </li>
                <li>우유팩 / 투명 페트병 따로모으기</li>
              </ul> </p>


          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>How to do Zero Waste</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist0/">제로 웨이스트 실천방법 #5!</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">소지현</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 10</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist1/">Lv.1 체크리스트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 3</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist2/">Lv.2 체크리스트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Nov 8</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist3/">Lv.3 체크리스트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Sep 9</span>
                </div>
              </div>
            </div>

            <p>
              <a href="/echozapp/How/" class="more">See All Ways<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>



{% endblock %}