{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">

            <p class="mb-5">
              <img src="/static/images/travel_1.jpg" alt="Image" class="img-fluid">
            </p>
            <h1 class="mb-4">
              여행에서 제로웨이스트 실천하는 방법
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/CH.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">황창하</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 10</span>
              </div>
            </div>

             <p>제로웨이스트 여행을 위한 스트랩 여행용키트는 더 많은 사회적경제기업의 제품이 소비되게 하고 더 많은 사회적경제기업의 제품이 소비되게 하고 수거 현수막의 세척과 미싱과정에 일감을 나누는 방식으로 결과물 뿐 아니라 기획과 제작 과정에 더 많은 사람의 참여를 이끌어내며 생활쓰레기 없는 친환경 여행 키트</p>
            <p>
            <ul>
            <li>메쉬 스트링 에코백: 가볍고 시원한 느낌의 에코백. 여행지에서 가볍게 사용가능하다. 유기농 면으로 만들어져서 여행지뿐만이 아니라 인상의 건강한 가치를 담을 수도 있다.</li>
            <li>샤워, 샴푸, 클렌징 바: 여행지에서 꼭 필요한 3종 세트. 기존 세정제의 화려함 보다는 자연에 가까움에 치중하여 지속 가능한 삶을 위한 제품이다. </li>
            <li>자투리인견원단을 활용한 인견타올: 남은 천을 재활용하여 만든 타올</li>
            <li>친환경 현수막 업사이클링 주머니: 여행을 가서도 손쉽게 제로웨이스트를 실천 할 수 있게 하는 주머니</li>
            <li>생분해 되는 자연 친화적 대나무 손잡이 칫솔</li>
            </ul></p>


            <div class="pt-5">
                    <p>Categories:  <a href="#">eco</a>, <a href="#">checklist</a>  Tags: <a href="#">#zerowaste</a>, <a href="#">#trends</a></p>
                  </div>


                  <div class="pt-5">
                    <div class="section-title">
                      <h2 class="mb-5">6 Comments</h2>
                    </div>
                    <ul class="comment-list">
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/person_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Jean Doe</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>
                      </li>

                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/person_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Jean Doe</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>

                        <ul class="children">
                          <li class="comment">
                            <div class="vcard bio">
                              <img src="/static/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                              <h3>Jean Doe</h3>
                              <div class="meta">January 9, 2018 at 2:21pm</div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                              <p><a href="#" class="reply">Reply</a></p>
                            </div>


                            <ul class="children">
                              <li class="comment">
                                <div class="vcard bio">
                                  <img src="/static/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                  <h3>Jean Doe</h3>
                                  <div class="meta">January 9, 2018 at 2:21pm</div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                  <p><a href="#" class="reply">Reply</a></p>
                                </div>

                                  <ul class="children">
                                    <li class="comment">
                                      <div class="vcard bio">
                                        <img src="/static/images/person_1.jpg" alt="Image placeholder">
                                      </div>
                                      <div class="comment-body">
                                        <h3>Jean Doe</h3>
                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                        <p><a href="#" class="reply">Reply</a></p>
                                      </div>
                                    </li>
                                  </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>

                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/person_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Jean Doe</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>
                      </li>
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                      <div class="section-title">
                        <h2 class="mb-5">Leave a comment</h2>
                      </div>
                      <form action="#" class="p-5 bg-light">
                        <div class="form-group">
                          <label for="name">Name *</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                          <label for="email">Email *</label>
                          <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                          <label for="website">Website</label>
                          <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                          <label for="message">Message</label>
                          <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Post Comment" class="btn btn-primary py-3">
                        </div>

                      </form>
                    </div>
                  </div>
          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>How to do Zero Waste</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist0/">제로 웨이스트 실천방법 #5!</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">소지현</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 10</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist1/">Lv.1 체크리스트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Jan 3</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist2/">Lv.2 체크리스트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Nov 8</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/checklist3/">Lv.3 체크리스트</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Sep 9</span>
                </div>
              </div>
            </div>

            <p>
              <a href="/echozapp/How/" class="more">See All Ways<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}