{% extends 'base.html' %}

{% block content %}

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <iframe  width="820" height="480" src="https://www.youtube.com/embed/d8S041qi7tk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>  
            <h1 class="mb-4">
             톱 모델 이현이가 에코 라이프에 도전한 이유
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/tvn.png" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">커버스토리</a> in <a href="#">tvn</a></span>
                <span class="date-read">Jun 13</span>
              </div>
            </div>

            <p>현재 대한민국에 쌓인 쓰레기 산의 수는 235개, 전국에 불법 투기된 쓰레기의 양은 120.3만 톤으로 최근 CNN 등 주요 외신에 국내 불법 쓰레기 산이 보도되면서 이목을 집중시킨 바 있다. 과연 과거에는 어떻게 쓰레기를 처리했는지, 산업화 이후 쓰레기가 증가하고 환경오염까지 이어지면서 국내에서 시행된 쓰레기 종량제 제도의 효과 등을 소개해 이목을 집중시킬 예정이다.</p>
            <p>무엇보다 자연 분해되는 기간이 가장 긴 플라스틱은 전 세계적으로 문제가 되는 상황. 전 세계적으로 플라스틱을 먹고 숨진 동물이 발견되는 등 사람의 편의를 위해 발견된 플라스틱이 환경오염의 가장 큰 문제로 떠오르고 있다는 것. 이에 플라스틱의 기원부터 해외에서 플라스틱 처리를 위해 실시하고 있는 제도에 대해 알아본다.</p>

            <br><br>
             <a href="#" class="more">이어지는 이야기<span class="icon-keyboard_arrow_right"></span></a><br>
            <ul>
              <li> <a href = "https://www.youtube.com/watch?v=rsd5seVp-9I">이렇게만 도전하면 나도 할 수 있다! 쓰레기 줄이기!!</a></li>
              <li> <a href="https://www.youtube.com/watch?v=MraUxOIu7Tc">제로웨이스트 5단계를 실천하자 놀랍게 줄어든 쓰레기의 양!</a></li>
            </ul>




          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>About Zero Waste</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video1/">'식벤져스' 제로 웨이스트 레스토랑 오픈</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">식벤져스</a> in <a href="#">Olive</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video2/" >지구를 지켜츄</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Chuu Can Do It</a> in <a href="#">Youtube</a></span>
                  <span class="date-read">Jan 7</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video3/">윤스테이만의 친환경 어메니티</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">윤스테이</a> in <a href="#">tvn</a></span>
                  <span class="date-read">Jan 11</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video4/">지속가능한 것을 행복한 만큼 실천하세요</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박진희</a> in <a href="#">세바시</a></span>
                  <span class="date-read">May 27</span>
                </div>
              </div>
            </div>
            
            <p>
              <a href="/echozapp/What/" class="more">See All Zero Waste<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}