{% extends 'base.html' %}

{% block content %}
    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <iframe  width="720" height="480" src="https://www.youtube.com/embed/Z6vjJuqhNHA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>  
            <h1 class="mb-4">
              아기자기 윤스테이! 고무신부터 친환경 어메니티까지!
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/tvn.png" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">윤스테이</a> in <a href="#">tvn</a></span>
                <span class="date-read">Jan 11</span>
              </div>
            </div>

            <p>외국인들을 위한 한옥 호텔을 운영하는 "윤스테이"는 채식 메뉴뿐만 아니라, 친환경 샴푸·바디워시·치약을 제공하고 천연재료로 만든 허니랩 봉투를 사용하는 모습을 보여 호평 받았다.</p>
            <p>채식부터 제로웨이스트 운동까지 친환경 실천에 대한 관심이 예능 프로그램 속 풍경도 속속 바꿔가고 있다. 코로나19와 기후위기를 겪으며 환경 문제에 대한 관심이 높아진 가운데, 소비를 통해 자신만의 사회적·정치적 신념을 드러내는 MZ세대의 ‘가치 소비’ 양상이 영상 콘텐츠 트렌드에도 변화를 주고 있는 것이다. 특히 공감을 통해 재미와 웃음을 주는 예능 프로그램의 경우 한층 발빠르고 민감하게 변화에 반응할 수밖에 없다.</p>
            <p>정덕현 대중문화평론가는 “친환경 아닌 필환경이라는 이야기가 나올 정도로 이제 시청자들은 환경 친화적 생활을 당연하고 익숙한 것으로 받아들인다”며 “예전엔 예능에 친환경 실천이 등장하면 꼭 집어 호평을 받았다면 이제는 이같은 실천을 응당 하지 않는 콘텐츠에 대한 문제제기가 나온다. 콘텐츠와 현실의 문제들이 굉장히 긴밀하게 연결돼 있는 시대다보니 나타난 변화”라고 말했다.</p>


            <div class="pt-5">
                    <p>Categories:  <a href="#">Design</a>, <a href="#">Events</a>  Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
                  </div>
      
      
                  <div class="pt-5">
                    <div class="section-title">
                      <h2 class="mb-5">6 Comments</h2>
                    </div>
                    <ul class="comment-list">
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/person_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Jean Doe</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>
                      </li>
      
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/person_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Jean Doe</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>
      
                        <ul class="children">
                          <li class="comment">
                            <div class="vcard bio">
                              <img src="/static/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                              <h3>Jean Doe</h3>
                              <div class="meta">January 9, 2018 at 2:21pm</div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                              <p><a href="#" class="reply">Reply</a></p>
                            </div>
      
      
                            <ul class="children">
                              <li class="comment">
                                <div class="vcard bio">
                                  <img src="/static/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                  <h3>Jean Doe</h3>
                                  <div class="meta">January 9, 2018 at 2:21pm</div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                  <p><a href="#" class="reply">Reply</a></p>
                                </div>
      
                                  <ul class="children">
                                    <li class="comment">
                                      <div class="vcard bio">
                                        <img src="/static/images/person_1.jpg" alt="Image placeholder">
                                      </div>
                                      <div class="comment-body">
                                        <h3>Jean Doe</h3>
                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                        <p><a href="#" class="reply">Reply</a></p>
                                      </div>
                                    </li>
                                  </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
      
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/person_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>Jean Doe</h3>
                          <div class="meta">January 9, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>
                      </li>
                    </ul>
                    <!-- END comment-list -->
                    
                    <div class="comment-form-wrap pt-5">
                      <div class="section-title">
                        <h2 class="mb-5">Leave a comment</h2>
                      </div>
                      <form action="#" class="p-5 bg-light">
                        <div class="form-group">
                          <label for="name">Name *</label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                          <label for="email">Email *</label>
                          <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                          <label for="website">Website</label>
                          <input type="url" class="form-control" id="website">
                        </div>
      
                        <div class="form-group">
                          <label for="message">Message</label>
                          <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Post Comment" class="btn btn-primary py-3">
                        </div>
      
                      </form>
                    </div>
                  </div>
          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>About Zero Waste</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video4/">지속가능한 것을 행복한 만큼 실천하세요</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박진희</a> in <a href="#">세바시</a></span>
                  <span class="date-read">May 27</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video5/">제로웨이스트 이렇게만 도전하면 나도 할 수 있다!</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">커버스토리</a> in <a href="#">tvn</a></span>
                  <span class="date-read">Jun 13</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video1/">'식벤져스' 제로 웨이스트 레스토랑 오픈</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">식벤져스</a> in <a href="#">Olive</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/video2/" >지구를 지켜츄</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Chuu Can Do It</a> in <a href="#">Youtube</a></span>
                  <span class="date-read">Jan 7</span>
                </div>
              </div>
            </div>
            
            <p>
              <a href="/echozapp/What/" class="more">See All Zero Waste<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}