{% extends 'base.html' %}

{% block content %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="section-title">
              <span class="caption d-block small">step 1</span>
              <h2>What is Zero Waste?</h2>
            </div>
            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/logo4_1.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/zero1/">제로 웨이스트란?</a></h2>
                <p class="mb-3">조금 불편할 수는 있어도 낭비하지 않는 삶</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박지현, 정하늘</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Feb 5</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/insta_2.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/zero2/">제로 웨이스트 챌린지</a></h2>
                <p class="mb-3">누구나 할 수 있는 일상 속 작은 실천!</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박희망, 황창하</a> in <a href="#">echoz</a></span>
                  <span class="date-read">Mar 6</span>
                </div>
              </div>
            </div>


             <hr> <br>
            <div class="section-title">
              <span class="caption d-block small">step 2</span>
              <h2>Now on Earth..</h2>
            </div>


            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/n2.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/news1/">친환경을 넘은 필(必)환경시대! ‘제로웨이스트’ 열풍</a></h2>
                <p class="mb-3">- 2024년 글로벌 리사이클 시장 3767억 달러 규모 전망 <br> - 모든 자원의 재사용, 재활용, 퇴비화를 통해 쓰레기 없는 삶 추구</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김지윤</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/n3.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/news2/">"환경오염 문제 관심 가져야죠" '친환경 소비'로 눈 돌린 20·30</a></h2>
                <p class="mb-3">- 환경문제 관심↑…지속가능한 소비부터 제로웨이스트 운동까지<br>
                                - 10명 중 8명 "지속가능한 생활용품 구매할 의향 있다"<br>
                                - 전문가 "SNS 이용 영향…의견교류 활발"</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김가연</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 5</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/n5.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                
                <h2><a href="/echozapp/news3/">쓰레기 넘치는 코로나 시대, '제로웨이스트'가 뜬다</a></h2>
                <p class="mb-3">- 광주 첫 제로웨이스트숍 ‘눈길’<br>
                                - 쓰레기 없는 소비 방법 모색”<br>
                                - “지구를 살리는 한걸음 위해”</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">곽지혜</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 14</span>
                </div>
              </div>
            </div>

            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('/static/images/n4.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="/echozapp/news4/">유통가에 제로 웨이스트 바람 분다</a></h2>
                <p class="mb-3">- 신세계백화점, 이마트에 이어 '세제 리필 스테이션' 공개<br>
                - 이마트, 2018년 전 점에서 비닐봉지 없애며 장바구니 일상화<br>
                - 유통업계, 친환경 행보는 계속 이어질 것으로 전망 </p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">신유미</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 30</span>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-3">
            <div class="section-title">
              <h2>About Zero Waste</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/video1/'>'식벤져스' 제로 웨이스트 레스토랑 오픈</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">식벤져스</a> in <a href="#">Olive</a></span>
                  <span class="date-read">Jun 20</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/video2/'>지구를 지켜츄</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Chuu Can Do It</a> in <a href="#">Youtube</a></span>
                  <span class="date-read">Jan 7</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href=/echozapp/video3/'>친환경 어메니티</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">윤스테이</a> in <a href="#">tvn</a></span>
                  <span class="date-read">Jan 11</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/video4/'>지속가능한 것을 행복한 만큼 실천하세요</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">박진희</a> in <a href="#">세바시</a></span>
                  <span class="date-read">May 27</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">05</div>
              <div class="trend-contents">
                <h2><a href='/echozapp/video5/' >제로웨이스트 이렇게만 도전하면 나도 할 수 있다!</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">커버스토리</a> in <a href="#">tvn</a></span>
                  <span class="date-read">Jun 13</span>
                </div>
              </div>
            </div>

          </div>
        </div>

         <!-- Pagination -->
        <div class="row">
          <div class="col-lg-6">
            <ul class="custom-pagination list-unstyled">
              <li class="active"><a href="/echozapp/What/">1</a></li>
              <li><a href="/echozapp/What2/">2</a></li>
              <li><a href="/echozapp/What2/"> > </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


{% endblock %}