{% extends 'base.html' %}

{% block content %}

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="/static/images/insta_2.jpg" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              제로웨이스트 챌린지
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/HM.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="bio-pic mr-3">
                <img src="/static/images/CH.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">박희망, 황창하</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 6</span>
              </div>
            </div>
            <p>누구나 할 수 있는 일상 속 작은 실천! 나의 선한 영향력을 통해 일어나는 나비효과를 기대해 봅니다:D</p>
            <p class="mb-5"> <img src="/static/images/insta1.jpg" alt="Image" class="img-fluid"></p>



            <div class="pt-5">
                    <p>Categories:  <a href="#">Design</a>, <a href="#">Events</a>  Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
                  </div>

          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Recent News</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news5/" >고체치약, 대나무 칫솔…‘제로웨이스트’에 빠진 MZ세대</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">윤정훈</a> in <a href="#">News</a></span>
                  <span class="date-read">Nov 25</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news6/">껍데기 없이 알맹이만 팔아요...'제로 웨이스트' 숍 알맹상점</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">유지연</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 23</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news7/">제로 웨이스트·로컬 푸드…'착한 소비'를 찾는 사람들</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김주엽</a> in <a href="#">News</a></span>
                  <span class="date-read">May 3</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news8/">“일회용품 없는 일상·마을 실현 거점으로”</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">강경남</a> in <a href="#">News</a></span>
                  <span class="date-read">Apr 21</span>
                </div>
              </div>
            </div>

            <p>
              <a href="/echozapp/What/" class="more">See All News<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}