{% extends 'base.html' %}

{% block content %}
    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="/static/images/logo4_1.jpg" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              ZERO WASTE: 제로 쓰레기
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="/static/images/person_1.jpg" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">박지현, 정하늘</a> in <a href="#">echoz</a></span>
                <span class="date-read">Feb 5</span>
              </div>
            </div>

            <p>재활용 가능한 재료를 사용하거나 일상에서 나오는 불필요한 쓰레기(waste)를 줄여서 영(zero)으로 만들자는 친환경 운동으로,필요 이상으로 발생하는 쓰레기를 줄이고 환경을 보호하려는 노력입니다.</p>
            <p>댓글과 이메일칸 지워봄</p>


            <div class="pt-5">
                    <p>Categories:  <a href="#">Design</a>, <a href="#">Events</a>  Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
                  </div>

            <div class="card-body">
              <form class="form-horizontal">
                <div class="row">
                  <div class="form-group col-sm-8">
                    <input class="form-control input-sm" id="newReplyText" type="text" placeholder="댓글 입력...">
                  </div>
                  <div class="form-group col-sm-2">
                    <input class="form-control input-sm" id="newReplyWriter" type="text" placeholder="작성자">
                  </div>
                  <div class="form-group col-sm-2">
                    <button id="write" style="float:right;  background-color: white; color:black; opacity:0.8;" type="button" class="btn">Write</button>

                  </div>
                </div>
              </form>
            </div>

          </div>




          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Recent News</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news1/" >친환경을 넘은 필(必)환경시대! ‘제로웨이스트’ 열풍</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김지윤</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news2/"> "환경오염 문제 관심 가져야죠" '친환경 소비'로 눈 돌린 20·30</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">김가연</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news3/">쓰레기 넘치는 코로나 시대, '제로웨이스트'가 뜬다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">곽지혜</a> in <a href="#">News</a></span>
                  <span class="date-read">Sep 14</span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex pl-0">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="/echozapp/news4/">유통가에 제로 웨이스트 바람 분다</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">신유미</a> in <a href="#">News</a></span>
                  <span class="date-read">Oct 30</span>
                </div>
              </div>
            </div>
            
            <p>
              <a href="/echozapp/What/" class="more">See All News<span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>



{% endblock %}