<!DOCTYPE html>
<html lang="ko">

<head>
  <title>echoz &mdash; Zero Waste</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href= "/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css" >

  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/aos.css">
  <link href="/static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/css/style.css">
  <!--추가-->




</head>

<body data-offset="300" data-spy="scroll" data-target=".site-navbar-target">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="/echozapp/index/" class="site-logo">
              Zero Waste
            </a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block">
              <a href="#" class="d-inline-block p-3"><span class="icon-facebook"></span></a>
                <a href="#" class="d-inline-block p-3"><span class="icon-twitter"></span></a>
                <a href="#" class="d-inline-block p-3"><span class="icon-instagram"></span></a>
            </div>

          </div>
          <div class="col-6 d-block d-lg-none text-right">

          </div>
        </div>
      </div>




      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">

          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                 <a href="/echozapp/index/" class="nav-link text-left">Home</a>
                </li>
                <li>
                  <a href="/echozapp/What/" class="nav-link text-left">What?</a>
                </li>
                <li>
                  <a href="/echozapp/How/"  class="nav-link text-left">How?</a>
                </li>
                <li>
                  <a href="/echozapp/map/" class="nav-link text-left">Where?</a>
                </li>
                <li>
                    <a href="/echozapp/Events/"   class="nav-link text-left">Events</a>
                </li>
                <li><a href="/echozapp/Board/"   class="nav-link text-left">Board</a></li>
                {% if user.is_authenticated %}
                        <li><a class="nav-link text-left">{{user.last_name}}{{user.first_name}}님</a></li>
                        <li><a href="/echozapp/mypage/" class="nav-link text-left">My page</a></li>
                        <li><a href="/echozapp/logout" class="nav-link text-left">Logout</a></li>
                {%else%}
                   <li><a href="/accountapp/login/" class="nav-link text-left">Login</a></li>
                {% endif %}
              </ul>
            </nav>

          </div>

        </div>
      </div>

    </div>

    </div>
  </div>

  <div>
{% block content %}
{% endblock %}
  </div>

<div class="site-section subscribe bg-light">
      <div class="container">
        <form action="#" class="row align-items-center">
          <div class="col-md-5 mr-auto">
            <h2>For Earth..</h2>
            <p>We don't need a handful of people doing zero waste perfectly.<br> We need millions of people doing it imperfectly!</p>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="single-footer-widget">
              <h2>About echoz</h2><br>
              <p>
              <a href="https://github.com/jihyun0202" target="_blank">
                <img class="img-fluidid" src="/static/images/github.png" style="width:30px;"></a>   박지현  &nbsp&nbsp
              <a href="https://github.com/Heemang221" target="_blank">
                <img class="img-fluidid" src="/static/images/github.png" style="width:30px;"></a>   박희망  &nbsp&nbsp
              <a href="https://github.com/HaneulJ" target="_blank">
                <img class="img-fluidid" src="/static/images/github.png" style="width:30px;"></a>   정하늘  &nbsp&nbsp
              <a href="https://github.com/HTSPRS" target="_blank">
                <img class="img-fluidid" src="/static/images/github.png" style="width:30px;"></a>   황창하 <br>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>



    <div class="footer">
      <div class="container">


        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

  <script src='/static/js/jquery-3.3.1.min.js'></script>
  <script src='/static/js/jquery-migrate-3.0.1.min.js'></script>
  <script src='/static/js/jquery-ui.js'></script>
  <script src='/static/js/popper.min.js'></script>
  <script src='/static/js/bootstrap.min.js'></script>
  <script src='/static/js/owl.carousel.min.js'></script>
  <script src='/static/js/jquery.stellar.min.js'></script>
  <script src='/static/js/jquery.countdown.min.js'></script>
  <script src='/static/js/bootstrap-datepicker.min.js'></script>
  <script src='/static/js/jquery.easing.1.3.js'></script>
  <script src='/static/js/aos.js'></script>
  <script src='/static/js/jquery.fancybox.min.js'></script>
  <script src='/static/js/jquery.sticky.js'></script>
  <script src='/static/js/jquery.mb.YTPlayer.min.js'></script>




  <script src='/static/js/main.js'></script>


</body>
</html>