class Comment(models.Model):
    post=models.ForeignKey(Post, on_delete=models.CASCADE, null=True, related_name='comments')
    comment_date = models.DateTimeField(auto_now_add=True)
    comment_contents = models.CharField(max_length=200)
    comment_writer = models.ForeignKey(Profile, on_delete=models.CASCADE, null=True)

    class Meta:
        ordering=['-id']

<hr>
{%for comment in post.comments.all %}
    <div class="comment">
        <div class="data">{{comment.comment_date}}</div>
        <strong><a href = "{% url 'userpage'comment.comment_writer %}">{{comment.comment_writer}}</a></strong>
        <p>{{comment.comment_content}}</p>
    </div>
{% empty %}
    <p>No comments here yet</p>
{% endfor %}

<hr>
    <form action="{% url 'comment_writer' post_pk=post.pk %}" method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholer="Writer your comments">
        <input type="submit" value="Write" />
    </form>




<!-- 댓글작성 -->
<div>
    <div class="comment-txt">
        <textarea id="cmtCnt" name="cmtCnt" placeholder="댓글을 남겨주세요"></textarea>
    </div>
    <div class="comment-button">
        <button id="cmtCnt-btn">댓글</button>
    </div>
</div>

$("#cmtCnt-btn").click(function(){
<%
    if (id==null){
%>
alert("로그인이 필요합니다.");
location.href="/account/login/";
<% }else{
%>
$.ajax({
    url: